


<div class="position-relative">
  <!-- Replace VIDEO_ID with the actual ID of the YouTube video -->

    <iframe src="https://www.youtube.com/embed/v0UXgoJ9Shg?controls=0&mute=1&loop=1" name="iframe_a"
      class="w-100 vh-100" title="Youtube_video" frameborder="0">
    </iframe>


  <div class="position-absolute top-0 start-0 w-100 h-100"
    style="background-image: linear-gradient(to right, rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.1));">
  </div>

  <div class="text-white position-absolute top-50 w-25 translate-middle" style="left:20%;">
    <h1>Jab Tak Hai Jaan</h1>
    <p>Samar angered with God and fueled with his love for Meera, declares War against Him. Samar Anand vows to walk into the jaws of death everyday as a challenge to God to keep him alive. He becomes Major Samar Anand in the Indian Army, a bomb disposal chief, defusing bombs without ever wearing a bomb suit.</p>
    <div>
      <button class="btn btn-play me-3"><span class="text-dark">▶︎</span>Play</button>
      <button class="btn btn-moreinfo">More Info</button>
    </div>
  </div>

</div>



